%h1 Listing trucks

%table
  %tr
    %th Name
    %th Twitter
    %th Location
    %th
    %th
    %th

  - @trucks.each do |truck|
    %tr
      %td= truck.name
      %td= truck.twitter
      %td= truck.location
      %td= link_to 'Show', truck
      %td= link_to 'Edit', edit_truck_path(truck)
      %td= link_to 'Destroy', truck, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Truck', new_truck_path
